*{
    text-decoration: none;
    color: inherit;
}
header{
    background-color: rgb(39, 61, 61);
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 20px;
    background-color: lightcyan;
}
.survey-space{
   margin: 25px 25%;
   background-color:thistle ;
   padding: 30px;
   color:black;
}
.checks{
    padding-left: 20px;
}
.choose{
    width: 300px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
button{
    color: darkslategrey;
    background-color: floralwhite;
    width: 70px;
    height: 30px;
    border: 2px solid black;
    font-weight: bold;
}
#end{
    margin: 0px 46%;
    width: 120px;
    height: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: black;
    border:2px solid white;
    color: white;
}
button:hover{
    background-color: black;
    color: white;
}
button:disabled{
    color: white;
    background-color: black;
}
.endicote{
    color: black;
    font-size: 25px;
    text-align: center;
    margin: 0px 50px;
    height: 100px;
}
#endingm{
    padding: 35px 0px;
}
